/* .shop {
  padding-top: 40px;
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  padding-bottom: 60px;
} */

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  align-items: stretch;

  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  padding-bottom: 60px;
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}